.navigation ul {
    margin: 25px 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.navigation__item a.navigation__link {
    font: 400 14px/19.6px "Roboto", sans-serif;
    color: $color-nav-item;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    @extend %transition;
    &:hover {
        color: $color-light;
        border-color: $color-light;
    }
}