.promo {
    background-image: url("../assets/img/bg-image.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.promo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.promo__title {
    margin: 230px 0 20px;
    font: 700 64px/75px "Roboto", sans-serif;
    color: $color-light;
    text-transform: uppercase;
    letter-spacing: 4.5px;
}

.promo__description {
    margin-bottom: 30px;
    max-width: 504px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    text-align: center;
    font: 400 18px/25.2px "Roboto", sans-serif;
    color: $color-light;
}

.promo__button {
    margin-bottom: 183px;
}

.icons-bar {
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    max-width: 170px;
    width: 100%;
}

.icons-bar a {
    color: #fff;
}