.button {
    width: 184px;
    height: 46px;
    border: none;
    background-color: $color-buttons;
    font: 700 14px/16.41px "Roboto", sans-serif;
    text-transform: uppercase;
    color: $color-light;
}