$color-light: #FFFFFF;
$color-nav-item: rgba(255, 255, 255, 0.8);
$color-buttons: #00AFDB;
$color-button-dark: #009CC2;
$color-title: #373737;
$color-text: #4E4E4E;
$color-copyright: #818181;
$color-background-section: #F5F6F7;

$desctop-width: 1600px;
$tablet-width: 767px;
$mobile-width: 320px;
